<div class="app">

  <div class="app-header">

    <div class="app-nav">
      <h1>alternative factz of the web</h1>
      <h2>true af</h2>
    </div>

  </div>

  <div class="app-body">

    <div class="fact-box">
      <p id="message">click for an alternative fact</p>
    </div>

    <div class="button-box">
      <button type="button" id="btnSearch" value="Search" onclick="GetValue();">more factz</button>
    </div>

  </div>

  <div class="app-footer">
    <p>website and factz by <a href="http://www.hannahg.co">hannah</a>.</p>
  </div>

</div>
